@model IEnumerable<Appointment.Models.DoctorModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @{
                    var imagePath = @"uploads\" + @item.Avatar;
                }
                    @if(item.Avatar != null)
                    {
                        <img src="@imagePath" width="100" height="100" class="img-fluid" />
                    } else
                    {
                        <img src="https://static-00.iconduck.com/assets.00/avatar-default-symbolic-icon-479x512-n8sg74wg.png" width="100" height="100" class="img-fluid" />
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Doctor_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Doctor_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Doctor_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
